h1{
    color: rgb(204, 118, 200);
    background-color: rgb(241, 183, 239);
    text-align: ;
}
body{
    background-color: rgb(252, 207, 249);
    color: rgb(241, 183, 239);
}
a{
    background-color: rgb(241, 183, 239);
    color: rgb(204, 118, 200);
    
}